{% extends 'base.html.twig' %}

{% block title %}New Energie{% endblock %}

{% block body %}
    <h1>Create new Energie</h1>

    {{ include('energie/_form.html.twig') }}

    <a href="{{ path('energie_index') }}">back to list</a>
{% endblock %}
