{% extends "base.html.twig" %}






{% block stylesheets %}
  <link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/styleannonces.css') }}" rel="stylesheet"/>
{% endblock %}



{% block body %}

<header>

   <div class="container-fluid">
                <div class="row"> 
                    <div id="ano" class="col-md-2">
               
                    {# <div id="deposer"> + Déposer une annonce </div> #}
                    </div>
                    <div id="head" class="col-md-8">
                <center>
                      <span><img id="icone" src="icone/search.png"><label>Mes recherches</label></span>
                        <span><img id="icone" src="icone/star.png"><label>Favoris</label></span>
                        <span><img id="icone" src="icone/user.png"><label>User</label></span>
                </center>     
                    </div>
                </div>

</header>


<div id="bg" >

<div class="container">
  <div class="row">
    <div class="col-sm-4"> 
    </div>
     <div class="col-sm-4"> 
        <h1 class="align-content-center">Choisir la catégorie</h1>
    </div>
     <div class="col-sm-4"> 
    </div>
  </div>
<div>






<div class="container">
  <div class="row">
    <div class="col-sm-4"> 
    </div>
     <div class="col-sm-4"> 
            <div id="select" class="form-group"> 
          <select class="form-control" id="sel1">
            <option>Voiture</option>
            <option>Immobillier</option>
          </select>
          </div>
    </div>
     <div class="col-sm-4"> 
    </div>
  </div>
<div>


<div class="container">
  <div class="row">
    <div class="col-sm-2"> 
    </div>
     <div class="col-sm-8"> 
      <div id="formulaire_annonce" >
      <form action=" " methode="post">
        
            <label for="titre" style="font-family: Dosis;">Titre de votre annonces</label>
            <input type="text" requied name=""  value = "">
            <label for="titre" style="font-family: Dosis;">Prix</label>
            <input type="text" requied name=""  value = "">
             <label for="titre" style="font-family: Dosis;">Image</label>
            <input type="image" requied name=""  value = "inserer une image">
            <label for="ldate" style="font-family: Dosis;">Date de publication</label>
            <input type="date" id="date" requied name="">
          <label for="titre" style="font-family: Dosis;">Description</label>
           <textarea></textarea>
            <input type="submit" value="Publier">
          </form>
      </div>
     <div class="col-sm-2"> 
    </div>
  </div>
<div>

</div>



{% endblock %}