{% extends "base.html.twig" %}

{% set annonce_title = annonce_title is defined ? annonce_title : "Mes annonces" %}
{% block title %}{{ annonce_title }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div id="bg" style="height:250px;"></div>
    
    <div class="container pt-5">
        <div class="card px-3 py-5 shadow">
            <div class="card-title"><h3 class="text-success text-center">Déposer une annonce</h3></div>
            <div class="card-body pt-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <form action="{{ path('annonces_new') }}" class="text-center">
                            <div class="form-group">
                                <select class="form-control custom-select" name="categorie">
                                    {% for categorie in categories %}
                                        <option value="{{ categorie.className }}">{{ categorie.libelle }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-success btn-block" type="submit">Continuer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "annonces/list.html.twig" %}
</div>

{% endblock %}
