.input-group-append-small-screen {
    display: none;
}

.row_range_values input[type="checkbox" i] {
    background-color: #00bf00;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

@media screen and (max-width:1023px){
    .card-info {
        display: none;
    }

    .input-group-append-small-screen span {
        height: 100%;
    }
}

@media screen and (max-width:768px){
    .input-group-prepend-large-screen {
        display: none;
    }

    .input-group-append-small-screen {
        display: inline;
    }

    .row-search-button .btn {
        margin-bottom: .5rem;
    }
}