.card-body-ad-list{
    padding-top:0;
    padding-left:0;
    padding-right:0;
}

.row_ad {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

    .row_ad .col-3 {
        border-radius: 3px 3px 0px 0px;
    }

        .padding-top-a-little-different {
            padding-top: 1.5rem !important;
        }

        .card-body-ad-list img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

@media screen and(max-width:1024px){
    .padding-top-a-little-different {
        padding-top: 0.8rem !important;
    }

    .card-body-ad-list .card-body{
        padding-bottom: 20px;
    }
}

    