.card-body-ad-list{
    padding-top:0;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

    .shadow-kiloukoi {
        box-shadow: .2rem .2rem .2rem rgba(0,0,0,.15)!important;
    }

.row_ad {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

    .row_ad .col-3 {
        border-radius: 3px 3px 0px 0px;
    }

        .padding-top-a-little-different {
            padding-top: 1.5rem !important;
        }

        /* Images des annonces */
        .card-body-ad-list img{
            line-height: 4rem;
            /*padding-top: 0.95rem !important;*/ /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        }

        .ad-img-updated img {
            width:100%;
            position: absolute;
            padding-top: 0; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

            .fill {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden
            }

            .fill img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover !important;
                object-position: -4.61rem center !important;
            }

            /* .kiloukoisAdImage {
                padding-left: 0rem!important;
            } */

        .img-logo-kilouks{
            width:70%;
            padding-top: 0.5rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .ad-img-container {
            height: 180.19px;
        }
        
        .padding-col-lg-nine {
           margin-top: 1rem !important;
        }
        
        /* Heart des annonces */
        .fa-heart {
            font-size: 1.5rem;
        }

@media screen and (max-width:1024px) {
    .padding-top-a-little-different {
        margin-top: 0.8rem !important;
    }
    
    /*.card-body-ad-list .card-body{
        padding-bottom: 20px;
    }*/

    .ad-img-updated{
        position:unset !important;
        padding-top: 0.5rem !important;
    }

    /* images */
    .ad-img-updated img {
        width:100%;
        position: unset;
        padding-top: 0.rem; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
    }

    .img-logo-kilouks{
        width:70%;
        padding-top: unset !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    /*.kiloukoisAdImage {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }*/

    .ad-img-container {
        height: 180.19px;
    }
}

@media screen and (max-width:768px) {
    .padding-top-a-little-different {
        margin-top: 0 !important;
    }

    /* Images */
    .img-logo-kilouks{
        width:70%;
        padding-top: unset !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        /*bottom: 0;*/
        left: 0;
        right: 0;
        margin: auto;
    }

        .kiloukoisAdImage {
            padding-left: 0rem!important;
            padding-right: 0rem!important;
        }

    .date-ad {
        display: none;
    }

    /* Heart des annonces */
    .fa-heart {
        font-size: 1.25rem;
        text-align: center !important;
    }

    .proprietary-name {
        text-align:right;
    }

    .proprietary-name {
        display: none;
    }

    .row_ad{
        position:relative;
    }

    /* Dernière ligne de l'annonce */
    .row_ad_bottom{
        position:absolute;
        bottom: 0.9rem;
    }
}

@media screen and (max-width:713px) {
    .ad-img-container {
        height: 211.67px;
    }
}

@media screen and (max-width:576px) {
    /* Images */
    .img-logo-kilouks{
        width:41.5%;
        padding-top: 0.8rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ad-img-container {
        height: 211.67px;
    }

    .fill img {
        object-position: center center !important;
    }

    #footer_image {
        display: none;
    }

    .row_ad{
        position:unset;
    }

    /* Dernière ligne de l'annonce */
    .row_ad_bottom{
        position:unset;
        bottom: unset;
        left : unset;
    }
}


@media screen and (max-width:541px) {
    .img-logo-kilouks{
        width:49%;
        padding-top: 0.8rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ad-img-container {
        height: 191.67px;
    }

    #footer_image {
        display: none;
    }
}

@media screen and (max-width:476px) {
    .img-logo-kilouks{
        width:60%;
        padding-top: 0.8rem !important;; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ad-img-container {
        height: 167.67px;
    }

        .fill {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden
        }
        .fill img {
            object-position: -4.54rem !important;
        }
        
    #footer_image {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .fill img {
        object-position: -2.52rem !important;
    }      
}

@media screen and (max-width:400px) {
    .fill img {
        object-position: -3.41rem !important;
    }      
}


    