.card-body-ad-list{
    padding-top:0;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

    .shadow-kiloukoi {
        box-shadow: .2rem .2rem .2rem rgba(0,0,0,.15)!important;
    }

.row_ad {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

    .row_ad .col-3 {
        border-radius: 3px 3px 0px 0px;
    }

        .padding-top-a-little-different {
            padding-top: 1.5rem !important;
        }

        /* Images des annonces */
        .card-body-ad-list img{
            line-height: 4rem;
            padding-top: 0.95rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        }

        .ad-img-updated img {
            width:100%;
            position: absolute;
            /*padding-top: 0;*/ /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
            .fill {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden
            }
            .fill img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%
            }

        .img-logo-kilouks{
            width:70%;
            padding-top: 0.5rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .padding-col-lg-nine {
            padding-top: 1.2rem !important;
        }
        
        /* Heart des annonces */
        .fa-heart {
            font-size: 1.5rem;
        }

@media screen and (max-width:1024px) {
    .padding-top-a-little-different {
        padding-top: 0.8rem !important;
    }
    
    /*.card-body-ad-list .card-body{
        padding-bottom: 20px;
    }*/

    .ad-img-updated{
        position:unset !important;
        padding-top: 0.5rem !important;
    }

    .padding-col-lg-nine {
        padding-top: 1.2rem !important;
    }

    /* images */
    .ad-img-updated img {
        width:100%;
        position: unset;
        padding-top: 0.rem; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
    }

    .img-logo-kilouks{
        width:70%;
        padding-top: unset !important; */ /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .padding-top-a-little-different {
        padding-top: 0 !important;
    }

    .img-logo-kilouks{
        width:70%;
        padding-top: unset !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .date-ad {
        display: none;
    }

    /* Heart des annonces */
    .fa-heart {
        font-size: 1.25rem;
        text-align: center !important;
    }

    .proprietary-name {
        text-align:right;
    }

    .proprietary-name {
        display: none;
    }

    /* .row_ad{
        padding-bottom: 0.5rem;
    } */
}
@media screen and (max-width:576px) {
    .img-logo-kilouks{
        width:41.5%;
        /*margin-top: 0.25rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}


@media screen and (max-width:541px) {
    .img-logo-kilouks{
        width:49%;
        /* margin-top: 0.25rem !important; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ad-img-container {
        height: 191.67px;
    }

    #footer_image {
        display: none;
    }
}

@media screen and (max-width:476px) {
    .img-logo-kilouks{
        width:62.5%;
        /*padding-top: 0.65rem*/; /* Propriété à modifier pour le réajustement de la position verticale de l'image si besoin */
        position: absolute !important;;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ad-img-container {
        height: 192.67px;
    }

    #footer_image {
        display: none;
    }
}


    