/* Affichage des icones favoris et partage */
.fa-heart, .fa-share-alt {
    width:2.57rem;
    font-size: 1.7rem;
}

.title-icon {
    padding:10px 5px;
    border-radius: 50%;
    height: 18px;
    font-size: 1.7rem;
}

/* Affichage des caractéristiques */
.principales-caracteristiques{
    border-radius: 10px;
    font-weight: bold;
}

/* .principales-caracteristiques-deux ul {
    text-align: center;
} */
    .principales-caracteristiques-deux li {
        height: 39px;
        display: inline-block;
        list-style-type: none;
        margin-right: 0.25rem;
        margin-left:0;
    }

    .principales-caracteristiques-deux li div {
        height: 100%;
        color: white;
        line-height: 2.1rem;
        vertical-align: top;
    }

    .principales-caracteristiques-deux li .category-text-container {
        background: #00cd9c;
    }

    .tag-head-conteneur {
       text-align: right;
       margin-right: 0;
    }
       .tag-head-conteneur img {
            max-height: 100%;
        }

    .tag-head-conteneur {
        width: 2.44rem;
        background-size: cover;
    }

        .principales-caracteristiques-deux li {
            width: 45%;
        }

        .principales-caracteristiques-deux li .caracteristiques-text-container, .principales-caracteristiques-deux li .category-text-container {
            width: 80%;
        }

    /*.principales-caracteristiques-deux ul>li:before{
        content: "";
        display: list-item;
        position: absolute;
    }*/



.col-prix-ad {
    border-right: 1px solid #dee2e6;
    font-size: 1.31rem
}

.col-caution-ad {
    font-size: 1.31rem;
}

/* Réservation */
#reservation-annonce {
    margin-top: unset;
    margin-bottom: unset;
}

@media screen and (max-width:768px) {
    #bouton-signaler {
        width: 100%;
    }

    #ad-heart {
        width: unset;
    }

    #annonce-specifique-favoris .btn-lg {
        padding: .5rem 0rem !important;
    }

    #reservation-annonce {
        margin-top: 1.5rem!important;
        margin-bottom: 1.25rem!important;
    }
}

@media screen and (max-width:576px) {
    .principales-caracteristiques-deux li {
        width: 100%;
    }

    .principales-caracteristiques-deux li .caracteristiques-text-container, .principales-caracteristiques-deux li .category-text-container {
        width: 80%;
    }
}