/**
 * Description de l'annonce
 */
/* #ad-picture {
    background: red;   
}*/

.jumbotron {
    padding-left: 10px;
    padding-right: 10px;
}

#table-details {
    margin-top: 5px;
}
    /*.header-td {
        border-top: unset !important;
    }*/

    .text-description-henintsoa {
        display: none !important;
    }

@media screen and (max-width:1024px) {
    .text-description-henintsoa {
        display: none;
    }
}

@media screen and (max-width:768px){
    #table-details {
        margin-top: 20px;
    }   
}