@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto:wght@300;400;700;900&display=swap');

h1 {
    font-family: 'Raleway';
}

h2 {
    font-family: 'Raleway';
}

body {
    min-width: 360px;
    font-family: 'Roboto';
}

header .dropdown-toggle::after {
	margin-left: 0;
}

.left-menu {
	position: absolute;
	top: 10px;
	right: 20px;
}

.navbar-brand {
	position: absolute;
}

@media (max-width: 992px) {
	.navbar-brand {
		position: relative;
	}
}
.navbar-toggler {
	font-size: 1rem;
}
.nav-icon {
	position: relative;
}

.nav-icon i {
	font-size: 1.3rem;
}

.input-group-append i {
	width: 1.7rem;
}

.messages .unread, .notifications-container .unread {
	position: absolute;
	color:white;
	right: 0.5rem;
	top: -.7rem;
	border:white;
	background:red;
	padding: 1px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: smaller;
	font-weight: bolder;
}

#bg{
	width: 100%;
	background: linear-gradient(#009CB5, #00CD9C 95% );
	position:absolute;
	left:0;
	z-index: -1;
	min-width: 360px;;
}
#btn-notifications {
	border-radius: 50% !important;
}
.notifications-container .dropdown-menu {
	width: 350px;
	padding: 0;
	border-radius: .5rem;
	overflow: hidden;
	left: -5rem;
}
.notifications-container .dropdown-menu .list-group {
	max-height: 400px;
	overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
}
.notifications-container .notification-content {
	font-size: 90%;
}
.alertify-notifier.ajs-left .ajs-message.ajs-visible {
	padding: 0;
}
.alertify-notifier.ajs-left .ajs-message.ajs-visible .toast-header {
	color: unset;
	background-color: unset;
}
.ajs-message.ajs-custom { border-color: var(--primary); }
.pagination {
	justify-content: center !important;
}

label {
	padding-left: .2rem;
	margin: 0;
}

label.required::before {
	content: "* ";
	color: red;
}

.btn:disabled {
	cursor: no-drop;
}

#city-list {
	list-style: none;
	border: solid .5px var(--primary);
	position: absolute;
	width: 100%;
	z-index: 12;
	background:white;
	padding: 0;
}

#city-list li:hover {
	background-color: var(--success);
	color: white;
	cursor: pointer;
}

.form-group {
	position: relative;
}

.favoris-heart {
	position: absolute;
	right:8px;
	bottom: 40px;
	background:white;
	border-radius:50%;
	padding:6px;
	padding-top: 2px;
	padding-left: 5px;
	width:35px;
	height:35px;
	text-align:center !important;
	font-size: 1.5rem;
}
.btn-heart {
	cursor: pointer;
}
.unread-messages{
	animation: animationFrames linear 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames linear 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFrames linear 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFrames linear 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFrames linear 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

.ui-slider-handle {
	background: #06e070 !important;
	border-radius: 50% !important;
}
.ui-widget-header {
	background:  #00cd9c !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.4em;
	margin-left: -.6em;
}
.ui-slider-horizontal {
	height: .5em !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.4em !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	font-size: .8rem !important;
}

.categorie-container {
	position: absolute;
	z-index: 10;
	width: 850px !important;
}

@media (max-width: 992px) {
  .categorie-container {
	width: 550px !important;
  }
}

@media (max-width: 768px) {
  .categorie-container {
	width: 320px !important;
  }
}

.w-80 {
	width: 80% !important;
}

@keyframes animationFrames{
	0% {
		transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	10% {
		transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	20% {
		transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	30% {
		transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	40% {
		transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	50% {
		transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	60% {
		transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	70% {
		transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	80% {
		transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	90% {
		transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	100% {
		transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
	}
}

@-moz-keyframes animationFrames{
	0% {
		-moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	10% {
		-moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	20% {
		-moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	30% {
		-moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	40% {
		-moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	50% {
		-moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	60% {
		-moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	70% {
		-moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	80% {
		-moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	90% {
		-moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	100% {
		-moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	10% {
		-webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	20% {
		-webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	30% {
		-webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	40% {
		-webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	50% {
		-webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	60% {
		-webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	70% {
		-webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	80% {
		-webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	90% {
		-webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	100% {
		-webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	10% {
		-o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	20% {
		-o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	30% {
		-o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	40% {
		-o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	50% {
		-o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	60% {
		-o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	70% {
		-o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	80% {
		-o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	90% {
		-o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	100% {
		-o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	10% {
		-ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	20% {
		-ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
	}
	30% {
		-ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	40% {
		-ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	50% {
		-ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	60% {
		-ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	70% {
		-ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	80% {
		-ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
	}
	90% {
		-ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
	}
	100% {
		-ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
	}
}
