body {
    min-width: 360px;
}

header .dropdown-toggle::after {
    margin-left: 0;
}

#bg{
    width: 100%;
    background: linear-gradient(#004E5B, #3FB5C8 60% );
    position:absolute;
    left:0;
    z-index: -1;
    min-width: 360px;;
}

label {
    padding-left: .2rem;
    margin: 0;
}

label.required::before {
    content: "* ";
    color: 
    red;
}

.btn:disabled {
    cursor: no-drop;
}

.calendar span {
    width: 2.6rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    padding-top: .3rem;
}

.calendar .month i:hover {
    cursor: pointer;
    opacity: .5;
}

.calendar .days span:hover {
    cursor: pointer;
    background: lightgreen;
}

.calendar .days span.selected {
    cursor: pointer;
    background: lightgreen;
}

.calendar .days span.enAttente, span.enCours, span.effectue, span.interrompu {
    cursor: no-drop;
    color: white;
}

.calendar .days span.enAttente {
    background-color: orange;
}

.calendar .days span.enCours {
    background-color: orchid;
}

.calendar .days span.interrompu {
    background-color: steelblue;
}

.calendar .days span.effectue {
    background-color: darkblue;
}

case 1: statut = '';
case 2: statut = 'enCours';
case 3: statut = 'effectue';
case 4: statut = 'interrompu';

.calendar .weekdays, h3 {
    font-weight: bold;
}

.calendar .month, .weekdays, .days {
    width: 295px;
    margin: auto;
}

.calendar .today {
    border: 1px solid lightseagreen;
}