<div style="background: linear-gradient(#004E5B, #3FB5C8 60% ); color: white; text-align: center; height:auto;padding:30px;">
	<center style="max-width: 200px;height: auto;margin:auto;">
		<img class="logo" src="{{ app.request.getSchemeAndHttpHost() ~ asset('/image/logo.png') }}">
	</center>
	<h2 style="width:100%">N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</h2>

	<p style="text-align:center;font-size: 1rem; padding: 20px; background: white;color: grey;border-radius: 5px;">
		<span>
			Pour restaurer votre mot de passe, clicker sur <a style="color: #004E5B" href="{{ url('app_reset_password', {token: resetToken.token}) }}">ce lien</a>
		</span>
		<br>
		<span>
			Ce lien sera éxpirer dans {{ tokenLifetime|date('g') }} heure(s)..
		</span>
	</p>
</div>