{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block body %}

<div class="container">
    <div class="card border-primary">
        <div class="card-header text-center bg-primary text-white border">
            Entrer votre adresse mail ici et nous enverrons un
            lien pour réinitialiser votre mot de passe.
        </div>
        <div class="card-body">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <div class="m-auto mb-3 " style="width: 500px;min-width: 300px;">
                {{ form_start(requestForm, {attr: {class: 'w-100'}}) }}
                    {{ form_row(requestForm.email) }}
            
                    <button class="btn btn-primary">Envoyer le mail</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
