{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="container">
        <div class="card border-primary">
            <div class="card-header text-center bg-primary text-white border">
                Réstaurer votre mot de passe:
            </div>
            <div class="card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
    
                <div class="m-auto mb-3 " style="width: 500px;min-width: 300px;">
                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Restaurer</button>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>
    
    <div id="inscri">
    </div>
{% endblock %}
