{% extends "base.html.twig" %}

{% block title %}Factures{% endblock %}

{% block body %}

    <div class="container mt-4">
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="mb-4">
                    <div class="card shadow mb-2">
                        <h1 class="h3 text-center text-muted pt-2">
                            <span>Mes factures</span>

                            <div class="position-absolute d-inline pr-2" style="right: .25rem">
                                <select id="anne" class="custom-select">
                                    {% set current_year = "now"|date('Y') %}
                                    {% for year in 2017..current_year %}
                                        <option value="{{ year }}" {% if current_year == year %} selected {% endif %}>
                                            {{ year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </h1>
                    </div>

                    <div class="card shadow">
                        <div class="card-body text-center pb-0">
                            <div class="row">
                                {% for month in months %}
                                    <div class="col-md-3 text-center mb-3">
                                        <a href="{{ '/' }}" class="btn btn-outline-success w-100">{{ month|capitalize }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
