{% extends "base.html.twig" %}

{% block title %}Factures{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-file-invoice-dollar mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mes factures</strong></h1>
                            <small class="text-muted">Liste des factures de tout les mois.</small>
                        </div>
                        <div class="ml-auto mt-2">
                            <select id="anne" class="custom-select">
                                {% set current_year = "now"|date('Y') %}
                                {% for year in 2017..current_year %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <div class="row">
                            {% for month in months %}
                                <div class="col-md-3 text-center mb-3">
                                    <a href="{{ '/' }}" class="btn btn-outline-success w-100">{{ month|capitalize }}</a>
                                </div>
                            {% endfor %}
                        </div>

						<!-- <div class="mb-0 alert alert-warning text-center d-flex justify-content-center align-items-center" style="height: 120px;"><strong>Aucun résultat.</strong></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
