{% extends "base.html.twig" %}

{% block title %}Portefeuille{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width: 1500px;">
        <div id="bg" style="position:absolute;z-index:-1;left:0;height:375px;"></div>
        
        <center class="py-4">
            <img src="{{ asset('image/logo.png') }}" class="mb-3" style="height: 120px;width: auto;" >
            <p class="text-center text-white"><strong>N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</strong></p>
        </center>

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-wallet mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mes Moyens de Paiements</strong></h1>
                            <small class="text-muted">Lorem upsum</small>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-primary"  data-toggle="modal" data-target="#modalUser">Ajouter</button>
                            
                        </div>
                    </div>
                    <div class="card-body p-0">
						<div class="mb-0 alert alert-warning text-center d-flex justify-content-center align-items-center" style="height: 120px;"><strong>Aucun résultat.</strong></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="card shadow mb-3">
                    <div class="card-header d-flex align-items-top">
                        <i class="text-success fa fa-wallet mr-3" style="font-size: 3rem;"></i>
                        <div class="d-inline">
                            <h1 class="mb-0" style="font-size: 1.4rem;"><strong>Mon Portefeuille</strong></h1>
                            <small class="text-muted">Liste des factures de tout les mois.</small>
                        </div>
                    </div>
                    <div class="card-body p-0">
						<div class="mb-0 alert alert-warning text-center d-flex justify-content-center align-items-center" style="height: 120px;"><strong>Aucun résultat.</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUserLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUserLabel">Mes Moyens de Paiements</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" class="card-body">
                        
                        
                        <div class="form-group">
                            <input type="text" name="nom"  placeholder="Votre nom" class="form-control e-mai" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="prenom"  placeholder="Votre prenom" class="form-control e-mai" required autofocus>
                        </div>
        
                        <div class="form-group">
                            <input type="text" name="num_card" class="form-control" placeholder="Numeros de cart" required>
                            
                        </div>

                        <div class="form-group">
                            <input type="text" name="epx_date" class="form-control" placeholder="Date d'éxpiration" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cvv_num" class="form-control" placeholder="Numéros CVV" required>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block" style="background-color: #FF4500;border-color: #FF4500;" type="submit"><img src="{{ asset('image/mangopay.png') }}" class="mr-2 float-left" style="height: 25px">Valider
                            </button>
                        </div>
        
                        <div class="row">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
