{% extends 'base.html.twig' %}

{% block title %}Kiloukoi{% endblock %}

{% block body %}

<div class="container-fluid">
    <div id="bg" style="position:absolute;z-index:-1;left:0;height:375px;"></div>
    
    <center class="py-4">
        <img src="image/logo.png" class="mb-3" style="height: 150px;width: auto;" >
        <p class="text-center text-white"><strong>N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</strong></p>
    </center>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card p-3 shadow">
                <div class="card-body py-0 px-0 px-md-3">
                    <form action="{{ path('annonces_new') }}" class="text-center">
                        <div class="form-group row pb-md-3 text-muted text-left text-md-center">
                            <div class="col-12 col-md-4 col-sm-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" style="height:30px;width:30px;" id="radio-offre" value="offre" checked>
                                    <label class="form-check-label" style="font-size: 1.8rem;" for="radio-offre">
                                        Offre
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 col-sm-6 offset-md-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" style="height:30px;width:30px;" id="radio-demande" value="demande">
                                    <label class="form-check-label" style="font-size: 1.8rem;" for="radio-demande">
                                        Demande
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-12 col-md-4">
                                <select class="form-control custom-select" name="categorie">
                                    {% for categorie in categories %}
                                        <option value="{{ categorie.className }}">{{ categorie.libelle }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Que cherchez vous?" aria-describedby="recherche-addon">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white" id="recherche-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Choisissez une ville" aria-describedby="ville-addon">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white" id="ville-addon"><i class="fa fa-city"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"> €</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-white"> €</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-12 mb-3">
                                <input type="date" class="form-control" placeholder="Choisissez une ville" aria-describedby="ville-addon">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <button class="btn btn-success btn-block">
                                    <i class="fa fa-search"></i> Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm-4 mb-5">
            <div class="text-center ">
                <img src="icone/green.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Protegeons notre planete</p>
                <p class="">En évitant d'acheter du neuf</p>
            </div>
        </div>

        <div class="col-sm-4 mb-5">
            <div class="text-center ">
                <img src="icone/money.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Arrondissez vos fins de mois</p>
                <p class="">En mettant en location vos biens et services</p>
            </div>
        </div>

        <div class="col-sm-4 mb-5">
            <div class="text-center ">
                <img src="icone/problem.png"  class="img-fluid mb-3" style="height: 60px !important;">
                <p class="mb-1 text-success">Changez le monde</p>
                <p class="">En aidant vos voisins ou vos proches</p>
            </div>
        </div>
    </div>
</div>


{% set annonce_title = "Les dérnières annonces" %}
{% include "annonces/list.html.twig" %}

{% endblock %}
