/* sidebar */
.main-sidebar {
    padding: 1.25rem!important;
    background-color: #fff!important;
    border-radius:2px;
    box-shadow: var(--box-shadow-lg)
}

/* content */
dt {
    width: 100% !important;
}

dt .badge-secondary {
    width: 100% !important;
}