{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

<!-- Begin Page Content -->
<div class="container">

	<div class="card">
		<div class="card-body text-danger d-flex align-items-center" style="height: 205px;">
			<div class="m-auto" style="font-size: 1.5rem;">
				{% if error is defined %}
					{{ error | capitalize}}
				{% else %}
					Vous n'avez aucune conversation!
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	 {{ parent() }}
	 <script src="{{ asset('/js/message.js') }}"></script>
{% endblock %}
