{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/responsivevoiture.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/stylevoiture.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<!--header-->
        <header>

            </center>
            
        </header>
    
        <!--Banner-->
        <div class="contenu">
            <div class="banner">
                <div class="container">
                    <center>
                        <img class="logo"src="image/logo.png">
                    </center>
                    <h2 id="slogan" class="text-center">N'achetez que le nécessaire, pour le reste il y a Kiloukoi!</h2>
                </div>
                </div>
                </div>
        <!--Box-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <div class="box" >
                            <div id="menu" class="container">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="text-center">01 Offre</div>
                                    </div>
                                    <div class="col-md-2">
                                        <center> <img src="icone/separateur.png"></center>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-center">
                                            02 Demande
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                       <select id="select">
                                           <option value="">Voiture</option>
                                       </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="recherche" type="text" placeholder="Que recherchez-vous ?">
                                     </div>
                                     <div class="col-md-4">
                                        <input id="ville" type="text" placeholder="saisissez un ville et un rayon">
                                     </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-range custom-control-inline">
                                            <form action="">
                                                <table id="range">
                                                    <tr>
                                                        <td> <label class="prix" for="customRange" style="opacity: 50%;">Prix</label></td>
                                                        <td><input type="range" class="custom-range" id="customRange" name="points1"></td>
                                                    </tr>
                                                </table> 
                                              </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="btn" class="container">
                                <div class="row">
                                    <div id="btn1" class="col-md-5">
                                        <img src="icone/calendar.png"> 20/01/2020 
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div id="btn2" class="col-md-5">
                                        Recherche
                                    </div>
        
                                </div>
                            </div>
                            
                        </div>
                    </center>   
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div id="annonce" class="col-md-6">
                  <b>Annonces voiture :</b>
                  <b>Toutes la France</b>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="form">
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="check" name="example" value="customEx">
                          <label class="custom-control-label" for="check"> <b>Particulier</b> </label>
                        </div> 
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="check2" name="example" value="customEx">
                          <label class="custom-control-label" for="check2"> <b>Professionnel.90 214</b> </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="check3" name="example" value="customEx">
                            <label class="custom-control-label" for="check3"> <b>Urgentes</b> </label>
                          </div>
                          <select id="select1" name="cars" class="custom-control custom-select custom-control-inline">
                            <option selected>Tri par</option>
                            <option value="Tous">Tous</option>
                            <option value="Récent">Récents</option>
                            <option value="Ancien">Anciens</option>
                          </select>
                      </form>
                 </div>
            </div>
            
        </div>
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <h1 id="annonces">
                            Les dernères annonces
                        </h1>
                    </div>
                    <div class="col-md-4">

                    </div>

                </div>

            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <img src="image/v1.png" alt="Nature" style="width:100%">
                          <h4>Mécanicien soudeur de nuit (H/F)</h4>
                          <div id="liste">
                           <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <table style="width:100%">
                                        <tr>
                                          <td>contrats : </td>
                                        </tr>
                                        <tr>
                                          <td>Catégorie :</td>
                                        </tr>
                                        <tr>
                                            <td>Il y a 1h:30min</td>
                                            <td><a href="#">plus</a></td>
                                        </tr>
                                      </table>
                                </div>
                                  
      
                            </div>
                           </div>
                         </div>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img src="image/v2.png" alt="Nature" style="width:100%">
                        <h4>Mécanicien soudeur de nuit (H/F)</h4>
                        <div id="liste">
                            <div class="container">
                             <div class="row">
                                 <div class="col-md-12">
                                     <table style="width:100%">
                                         <tr>
                                           <td>contrats : </td>
                                         </tr>
                                         <tr>
                                           <td>Catégorie :</td>
                                         </tr>
                                         <tr>
                                             <td>Il y a 1h:30min</td>
                                             <td><a href="#">plus</a></td>
                                         </tr>
                                       </table>
                                 </div>
                                   
       
                             </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img src="image/v3.png" alt="Nature" style="width:100%">
                        <h4>Mécanicien soudeur de nuit (H/F)</h4>
                        <div id="liste">
                            <div class="container">
                             <div class="row">
                                 <div class="col-md-12">
                                     <table style="width:100%">
                                         <tr>
                                           <td>contrats : </td>
                                         </tr>
                                         <tr>
                                           <td>Catégorie :</td>
                                         </tr>
                                         <tr>
                                             <td>Il y a 1h:30min</td>
                                             <td><a href="#">plus</a></td>
                                         </tr>
                                       </table>
                                 </div>
                                   
       
                             </div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="content">
                            <img src="image/v4.png" alt="Nature" style="width:100%">
                              <h4>Mécanicien soudeur de nuit (H/F)</h4>
                              <div id="liste">
                               <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table style="width:100%">
                                            <tr>
                                              <td>contrats : </td>
                                            </tr>
                                            <tr>
                                              <td>Catégorie :</td>
                                            </tr>
                                            <tr>
                                                <td>Il y a 1h:30min</td>
                                                <td><a href="#">plus</a></td>
                                            </tr>
                                          </table>
                                    </div>
                                      
          
                                </div>
                               </div>
                             </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <img src="image/v5.png" alt="Nature" style="width:100%">
                            <h4>Mécanicien soudeur de nuit (H/F)</h4>
                            <div id="liste">
                                <div class="container">
                                 <div class="row">
                                     <div class="col-md-12">
                                         <table style="width:100%">
                                             <tr>
                                               <td>contrats : </td>
                                             </tr>
                                             <tr>
                                               <td>Catégorie :</td>
                                             </tr>
                                             <tr>
                                                 <td>Il y a 1h:30min</td>
                                                 <td><a href="#">plus</a></td>
                                             </tr>
                                           </table>
                                     </div>
                                       
           
                                 </div>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <img src="image/v6.png" alt="Nature" style="width:100%">
                            <h4>Mécanicien soudeur de nuit (H/F)</h4>
                            <div id="liste">
                                <div class="container">
                                 <div class="row">
                                     <div class="col-md-12">
                                         <table style="width:100%">
                                             <tr>
                                               <td>contrats : </td>
                                             </tr>
                                             <tr>
                                               <td>Catégorie :</td>
                                             </tr>
                                             <tr>
                                                 <td>Il y a 1h:30min</td>
                                                 <td><a href="#">plus</a></td>
                                             </tr>
                                           </table>
                                     </div>
                                       
           
                                 </div>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="content">
                                <img src="image/v7.png" alt="Nature" style="width:100%">
                                  <h4>Mécanicien soudeur de nuit (H/F)</h4>
                                  <div id="liste">
                                   <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table style="width:100%">
                                                <tr>
                                                  <td>contrats : </td>
                                                </tr>
                                                <tr>
                                                  <td>Catégorie :</td>
                                                </tr>
                                                <tr>
                                                    <td>Il y a 1h:30min</td>
                                                    <td><a href="#">plus</a></td>
                                                </tr>
                                              </table>
                                        </div>
                                          
              
                                    </div>
                                   </div>
                                 </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content">
                                <img src="image/v8.png" alt="Nature" style="width:100%">
                                <h4>Mécanicien soudeur de nuit (H/F)</h4>
                                <div id="liste">
                                    <div class="container">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <table style="width:100%">
                                                 <tr>
                                                   <td>contrats : </td>
                                                 </tr>
                                                 <tr>
                                                   <td>Catégorie :</td>
                                                 </tr>
                                                 <tr>
                                                     <td>Il y a 1h:30min</td>
                                                     <td><a href="#">plus</a></td>
                                                 </tr>
                                               </table>
                                         </div>
                                           
               
                                     </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content">
                                <img src="image/v9.png" alt="Nature" style="width:100%">
                                <h4>Mécanicien soudeur de nuit (H/F)</h4>
                                <div id="liste">
                                    <div class="container">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <table style="width:100%">
                                                 <tr>
                                                   <td>contrats : </td>
                                                 </tr>
                                                 <tr>
                                                   <td>Catégorie :</td>
                                                 </tr>
                                                 <tr>
                                                     <td>Il y a 1h:30min</td>
                                                     <td><a href="#">plus</a></td>
                                                 </tr>
                                               </table>
                                         </div>
                                           
               
                                     </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    <!--footer-->
                     <div class="container">
                     <div class="row bas">
                         <div class="col-md-3">
                             <div class="box1">
                                <div id="tete">
                                    A propos
                                </div>
                             <div>
                                 <a href="#">Qui sommes-nous ?</a>
                             </div>
                             <div>
                                <a href="#">Nous rejoindre</a>
                            </div>
                            <div>
                                <a href="#">Acteur responsable de l'économie française</a>
                            </div>
                             </div>
                         </div>
                         <div class="col-md-3">
                            <div id="tete">
                                information
                            </div>
                            <div>
                             <a href="#"> condition générale d'utilisation</a>
                            </div>
                            <div>
                               <a href="#">Règles de diffusion de référencement et de déréférencement</a>
                           </div>
                           <div>
                               <a href="#">Condition générale de vente</a>
                           </div>
                           <div>
                            <a href="#">Vie privé/cookies</a>
                        </div>
                        <div>
                            <a href="#">Vos droit et obligations</a>
                        </div>
                        <div>
                           <a href="#"> Critère de classement</a>
                        </div>
                      
                        </div>
                        <div class="col-md-3">
                            <div id="tete">
                              Nos solution pros
                            </div>
                            <div>
                                <a href="#">Professionnel de l'immobilier</a>
                              </div>
                              <div>
                                 <a href="#">Vos recrutements</a>
                             </div>
                             <div>
                                <a href="#">Professionnel de l'auto</a>
                             </div>
                             <div>
                                <a href="#">Autres solutions professionnelles</a>
                          </div>
                          <div>
                              <a href="#">Annuaires des professionnelles</a>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div id="tete">
                         Des questions ?
                        </div>
                        <div>
                           <a href="#">Aides</a>
                          </div>
                          <div>
                            <a href="#">Le service de paiement sécurisé et la livraison</a>
                         </div>
                         <div>
                            <a href="#">Demandez conseil à la Communauté</a>
                         </div>
                         <div id="retrouver">
                            Retrouvez-nous sur
                      </div>
                     <div id="contact">
                        <div class="row">
                            <div class="col-md-4">
  
                            </div>
                            <div class="col-md-4">
                                  <img src="icone/facebook.png">
                          </div>
                          <div class="col-md-4">
                              <img src="icone/twiter.png">
                          </div>
  
                        </div>
                     </div>
                        </div>
                        </div>
                        </div>
                        <div class="footer">
                           <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                  <h6 id="footer">Copyrights Kiloukoi 2020</h6>
                                </div>
                            </div>
                           </div>
                          </div>
                     </div>
{% endblock %}
