{% extends 'base.html.twig' %}

{% block title %}Profil - Modification{% endblock %}

{% block stylesheets %}
    <style>
        #city-list {
            list-style: none;
            border: solid .5px var(--primary);
            position: absolute;
            width: 100%;
            z-index: 12;
            background:white;
            padding: 0;
        }

        #city-list li:hover {
            background-color: var(--success);
            color: white;
            cursor: pointer;
        }

        .form-group {
            position: relative;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container-fluid" >
        
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-sm-12 bg-white rounded pb-3" style="margin-top: 50px;;">
                <div class="text-center">
                    <img src="{{ asset('image/logo-fond-blanc.png') }}" class="" alt="" style="height: 150px;width:auto;margin-top:-50px">
                </div>

                <div class="card" style="min-height: calc(100vh - 310px);">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-success text-center">Mes infos</h2>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/profil.js') }}"></script>
{% endblock %}