{% extends 'base.html.twig' %}

{% block title %}Profile - Modification{% endblock %}

{% block body %}

    <div class="container-fluid" style="max-width: 1500px;">
        <div id="bg" style="height:250px;"></div>
        
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-sm-12 bg-white rounded pb-3" style="margin-top: 50px;;">
                <div class="text-center">
                    <img src="{{ asset('image/logo-fond-blanc.png') }}" class="" alt="" style="height: 150px;width:auto;margin-top:-50px">
                </div>

                <div class="card" style="min-height: calc(100vh - 310px);">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="text-success text-center">Mes infos</h2>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function()
        {
            $(document).on('change', '.input-image', function(e) 
            {
                var input = this;

                var reader = new FileReader();
                reader.onload = function(e) 
                {
                    $('.output-image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            });
        })

    </script>
{% endblock %}